body {
	 background: white url("images/background.jpg")
}


#header {
	text-align: center;
	font-family: 'Lobster', cursive;
}

#content {
	text-align: center;
	list-style-type: none;
}

ul{
	list-style-type: none;
}