<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="python" path="*.py" verb="*" modules="CgiModule" scriptProcessor="C:\Python27\python.exe" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
