# coding: utf-8

"""
DefaultApi.py
Copyright 2016 SmartBear Software

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
"""

from __future__ import absolute_import

import sys
import os

# python 2 and python 3 compatibility library
from six import iteritems

from ..configuration import Configuration
from ..api_client import ApiClient


class DefaultApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        config = Configuration()
        if api_client:
            self.api_client = api_client
        else:
            if not config.api_client:
                config.api_client = ApiClient()
            self.api_client = config.api_client

    def airport_autocomplete(self, apikey, term, **kwargs):
        """
        The Airport Autocomplete API provides a simple means to find an IATA location code for flight search based on a city or airport name. The API is fully JQuery-Autocomplete compatible to enable you to quickly build a drop-down list for your users to find the right airport easily.
        Given the start of any word in an airport's official name, a city name, or the start of an IATA code, this API provides the full name and IATA location code of the city or airport, for use in flight searches. Only major cities and civilian airports with several commercial flights per week are included by default. The response provides up to 20 possible matches, sorted by importance, in a <a href=\"http://jqueryui.com/autocomplete/\">JQuery UI Autocomplete</a> compatible format. <a href=\"https://github.com/amadeus-travel-innovation-sandbox/sandbox-content/blob/master/airport-autocomplete-template.html\">This sample implementation</a> using JQuery UI may help. This API uses data from the OpenTravelData project, see https://github.com/opentraveldata/opentraveldata/blob/master/opentraveldata/optd_por_public.csv.\n\nThe value returned is the IATA location code. The label returned is always in UTF-8 format, with the airport official name (which is often in the native language), in the format of English City Name (if not already included in the airport name).

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.airport_autocomplete(apikey, term, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str apikey: API Key provided for your account, to identify you for API access (required)
        :param str term: Search term that should represent some part of a city or airport name. (required)
        :return: AirportAutocompleteResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['apikey', 'term']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method airport_autocomplete" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'apikey' is set
        if ('apikey' not in params) or (params['apikey'] is None):
            raise ValueError("Missing the required parameter `apikey` when calling `airport_autocomplete`")
        # verify the required parameter 'term' is set
        if ('term' not in params) or (params['term'] is None):
            raise ValueError("Missing the required parameter `term` when calling `airport_autocomplete`")

        resource_path = '/airports/autocomplete'.replace('{format}', 'json')
        method = 'GET'

        path_params = {}

        query_params = {}
        if 'apikey' in params:
            query_params['apikey'] = params['apikey']
        if 'term' in params:
            query_params['term'] = params['term']

        header_params = {}

        form_params = {}
        files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = []

        response = self.api_client.call_api(resource_path, method,
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=files,
                                            response_type='AirportAutocompleteResponse',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def nearest_relevant_airport(self, apikey, latitude, longitude, **kwargs):
        """
        The Nearest Relevant Airport can find the most useful nearby airport to a given location.
        This service gives the most relevant airports in a radius of 500 km around the given coordinates. The relevance of an airport is computed by dividing the number of airport movements (take offs and landings) by the distance from the point. This causes the relevance of an airport to increase exponentially as you approach it.\n\nTo minimize response time, all distances are computed as a <a href=\"http://en.wikipedia.org/wiki/Great-circle_distance\">great-circle distance</a> from the provided coordinates to the airport coordinates, and thus do not take into account traffic conditions, international boundaries, mountains, water, or other elements that might make the a nearby airport hard to reach.\n\nOnly civilian airports with at least several commercial flights per week are included in the results.\n\nThe result is a list of airports sorted by decreasing relevance. It always contains the nearest airport with significant commercial traffic.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.nearest_relevant_airport(apikey, latitude, longitude, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str apikey: API Key provided for your account, to identify you for API access (required)
        :param str latitude: Latitude location to be at the center of your search circle. (required)
        :param str longitude: Longitude location to be at the center of your search circle. (required)
        :return: list[AirportInformation]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['apikey', 'latitude', 'longitude']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method nearest_relevant_airport" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'apikey' is set
        if ('apikey' not in params) or (params['apikey'] is None):
            raise ValueError("Missing the required parameter `apikey` when calling `nearest_relevant_airport`")
        # verify the required parameter 'latitude' is set
        if ('latitude' not in params) or (params['latitude'] is None):
            raise ValueError("Missing the required parameter `latitude` when calling `nearest_relevant_airport`")
        # verify the required parameter 'longitude' is set
        if ('longitude' not in params) or (params['longitude'] is None):
            raise ValueError("Missing the required parameter `longitude` when calling `nearest_relevant_airport`")

        resource_path = '/airports/nearest-relevant'.replace('{format}', 'json')
        method = 'GET'

        path_params = {}

        query_params = {}
        if 'apikey' in params:
            query_params['apikey'] = params['apikey']
        if 'latitude' in params:
            query_params['latitude'] = params['latitude']
        if 'longitude' in params:
            query_params['longitude'] = params['longitude']

        header_params = {}

        form_params = {}
        files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = []

        response = self.api_client.call_api(resource_path, method,
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=files,
                                            response_type='list[AirportInformation]',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def car_rental_airport_search(self, apikey, location, pick_up, drop_off, **kwargs):
        """
        The Car Rental API uses Amadeus' classic car service to locate the best available car. Define a circular area with one coordinate and radius, or provide an airport code, as well as the pick-up and drop-off dates, and get a list of car rental providers with their locations and rates. Optional parameters such as currency and rental provider codes are also available and can be used to narrow down the results. This API is an ideal pairing with the flight and hotel search to provide ground transportation options at the destination.
        With this API you can find out the price and type of car, for all car rental providers, near a specified airport.\n\nYou can quickly see the locations of car providers near a given airport, and what cars are available to rent, and at what prices. This API is based on our classic car pricing service that gets live availability from car providers, and is used to power a variety of airline and travel agency websites.\n           \nResults are validated from car providers, and thus response times may take up to 10 seconds (response times are typically about 5s), and the number of concurrent calls is throttled per user to avoid flooding our provider's systems. However, this means the final result is guaranteed to be live and accurate.\n\nThe configuration of this API allows search for car rentals in the rental location where the car is picked up (at the start of the rental), is the same as the one where it will be dropped off.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.car_rental_airport_search(apikey, location, pick_up, drop_off, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str apikey: API Key provided for your account, to identify you for API access (required)
        :param str location: The IATA code of the airport at which the car will be rented. (required)
        :param str pick_up: Date on which the car rental will be collected from the car rental location. If no time is provided, a default value of 09:00 is used. Past availability is not displayed, future availability becomes less useful from about 6 months from the current date. (required)
        :param str drop_off: Date at which the car rental will end and the car will be returned to the rental location. If no time is provided, a default value of 17:00 is used. (required)
        :param str lang: The preferred language of the content related to each car rental. Content will be returned in this language if available.
        :param str currency: The preferred currency to use when displaying prices and rates related to the car rental.
        :param str provider: 2 character car rental provider code. You may provide this parameter more than once.
        :param str rate_class: Allows to request specific rate types.
        :param str rate_plan: Qualifies the rate depending on the pickup date and the rental duration.
        :param str rate_filter: Defines the types of rates to be returned in the output
        :param str vehicle: Specifies the type of vehicle to be rented. If selected, the results set will include only vehicles that match these type descriptions. The enumerations above correspond to ACRISS Pseudo Codes, and you may also provide an ACRISS pseudo code directly. If specifying a vehicle-specific ACRISS code, you may provide this parameter up to 3 times.
        :return: CarSearchResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['apikey', 'location', 'pick_up', 'drop_off', 'lang', 'currency', 'provider', 'rate_class', 'rate_plan', 'rate_filter', 'vehicle']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method car_rental_airport_search" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'apikey' is set
        if ('apikey' not in params) or (params['apikey'] is None):
            raise ValueError("Missing the required parameter `apikey` when calling `car_rental_airport_search`")
        # verify the required parameter 'location' is set
        if ('location' not in params) or (params['location'] is None):
            raise ValueError("Missing the required parameter `location` when calling `car_rental_airport_search`")
        # verify the required parameter 'pick_up' is set
        if ('pick_up' not in params) or (params['pick_up'] is None):
            raise ValueError("Missing the required parameter `pick_up` when calling `car_rental_airport_search`")
        # verify the required parameter 'drop_off' is set
        if ('drop_off' not in params) or (params['drop_off'] is None):
            raise ValueError("Missing the required parameter `drop_off` when calling `car_rental_airport_search`")

        resource_path = '/cars/search-airport'.replace('{format}', 'json')
        method = 'GET'

        path_params = {}

        query_params = {}
        if 'apikey' in params:
            query_params['apikey'] = params['apikey']
        if 'location' in params:
            query_params['location'] = params['location']
        if 'pick_up' in params:
            query_params['pick_up'] = params['pick_up']
        if 'drop_off' in params:
            query_params['drop_off'] = params['drop_off']
        if 'lang' in params:
            query_params['lang'] = params['lang']
        if 'currency' in params:
            query_params['currency'] = params['currency']
        if 'provider' in params:
            query_params['provider'] = params['provider']
        if 'rate_class' in params:
            query_params['rate_class'] = params['rate_class']
        if 'rate_plan' in params:
            query_params['rate_plan'] = params['rate_plan']
        if 'rate_filter' in params:
            query_params['rate_filter'] = params['rate_filter']
        if 'vehicle' in params:
            query_params['vehicle'] = params['vehicle']

        header_params = {}

        form_params = {}
        files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = []

        response = self.api_client.call_api(resource_path, method,
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=files,
                                            response_type='CarSearchResponse',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def car_rental_geosearch(self, apikey, latitude, longitude, radius, pick_up, drop_off, **kwargs):
        """
        The Car Rental API uses Amadeus' classic car service to locate the best available car. Define a circular area with one coordinate and radius, or provide an airport code, as well as the pick-up and drop-off dates, and get a list of car rental providers with their locations and rates. Optional parameters such as currency and rental provider codes are also available and can be used to narrow down the results. This API is an ideal pairing with the flight and hotel search to provide ground transportation options at the destination.
        With this API you can find out the price and type of car, for all car rental providers, in a specified geographical location.\n\nYou can quickly see the locations of car providers near a given point, and what cars are available to rent, and at what prices. This API is based on our classic car pricing service that gets live availability from car providers, and is used to power a variety of airline and travel agency websites.\n           \nResults are validated from car providers, and thus response times may take up to 10 seconds (response times are typically about 5s), and the number of concurrent calls is throttled per user to avoid flooding our provider's systems. However, this means the final result is guaranteed to be live and accurate.\n\nThe configuration of this API allows search for car rentals in the rental location where the car is picked up (at the start of the rental), is the same as the one where it will be dropped off.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.car_rental_geosearch(apikey, latitude, longitude, radius, pick_up, drop_off, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str apikey: API Key provided for your account, to identify you for API access (required)
        :param float latitude: Latitude of the center of the search. (required)
        :param float longitude: Longitude of the center of the search. (required)
        :param int radius: Radius around the center to look for hotels in kilometers (km). (required)
        :param str pick_up: Date on which the car rental will be collected from the car rental location. If no time is provided, a default value of 09:00 is used. Past availability is not displayed, future availability becomes less useful from about 6 months from the current date. (required)
        :param str drop_off: Date at which the car rental will end and the car will be returned to the rental location. If no time is provided, a default value of 17:00 is used. (required)
        :param str lang: The preferred language of the content related to each car rental. Content will be returned in this language if available.
        :param str currency: The preferred currency to use when displaying prices and rates related to the car rental.
        :param str provider: 2 character car rental provider code. You may provide this parameter more than once.
        :param str rate_class: Allows to request specific rate types.
        :param str rate_plan: Qualifies the rate depending on the pickup date and the rental duration.
        :param str rate_filter: Defines the types of rates to be returned in the output
        :param str vehicle: Specifies the type of vehicle to be rented. If selected, the results set will include only vehicles that match these type descriptions. The enumerations above correspond to ACRISS Pseudo Codes, and you may also provide an ACRISS pseudo code directly. If specifying a vehicle-specific ACRISS code, you may provide this parameter up to 3 times.
        :return: CarSearchResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['apikey', 'latitude', 'longitude', 'radius', 'pick_up', 'drop_off', 'lang', 'currency', 'provider', 'rate_class', 'rate_plan', 'rate_filter', 'vehicle']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method car_rental_geosearch" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'apikey' is set
        if ('apikey' not in params) or (params['apikey'] is None):
            raise ValueError("Missing the required parameter `apikey` when calling `car_rental_geosearch`")
        # verify the required parameter 'latitude' is set
        if ('latitude' not in params) or (params['latitude'] is None):
            raise ValueError("Missing the required parameter `latitude` when calling `car_rental_geosearch`")
        # verify the required parameter 'longitude' is set
        if ('longitude' not in params) or (params['longitude'] is None):
            raise ValueError("Missing the required parameter `longitude` when calling `car_rental_geosearch`")
        # verify the required parameter 'radius' is set
        if ('radius' not in params) or (params['radius'] is None):
            raise ValueError("Missing the required parameter `radius` when calling `car_rental_geosearch`")
        # verify the required parameter 'pick_up' is set
        if ('pick_up' not in params) or (params['pick_up'] is None):
            raise ValueError("Missing the required parameter `pick_up` when calling `car_rental_geosearch`")
        # verify the required parameter 'drop_off' is set
        if ('drop_off' not in params) or (params['drop_off'] is None):
            raise ValueError("Missing the required parameter `drop_off` when calling `car_rental_geosearch`")

        resource_path = '/cars/search-circle'.replace('{format}', 'json')
        method = 'GET'

        path_params = {}

        query_params = {}
        if 'apikey' in params:
            query_params['apikey'] = params['apikey']
        if 'latitude' in params:
            query_params['latitude'] = params['latitude']
        if 'longitude' in params:
            query_params['longitude'] = params['longitude']
        if 'radius' in params:
            query_params['radius'] = params['radius']
        if 'pick_up' in params:
            query_params['pick_up'] = params['pick_up']
        if 'drop_off' in params:
            query_params['drop_off'] = params['drop_off']
        if 'lang' in params:
            query_params['lang'] = params['lang']
        if 'currency' in params:
            query_params['currency'] = params['currency']
        if 'provider' in params:
            query_params['provider'] = params['provider']
        if 'rate_class' in params:
            query_params['rate_class'] = params['rate_class']
        if 'rate_plan' in params:
            query_params['rate_plan'] = params['rate_plan']
        if 'rate_filter' in params:
            query_params['rate_filter'] = params['rate_filter']
        if 'vehicle' in params:
            query_params['vehicle'] = params['vehicle']

        header_params = {}

        form_params = {}
        files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = []

        response = self.api_client.call_api(resource_path, method,
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=files,
                                            response_type='CarSearchResponse',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def flight_affiliate_search(self, apikey, origin, destination, departure_date, **kwargs):
        """
        The  Flight Affiliate Search API uses Travel Audience Connect's affiliate network API to search flights from our list of partners and provides deep-links to allow the user to book directly on the airline website.
        The Flight Affiliate Search API combines our Master Pricer search technology with Travel Audience's Connect API partners to provide a flight search where all results come with a deep-link to book the flight at a partner's website. The message is composed of multiple results for given request. A result is defined by a unique combination of price, tax, passenger type, fare type, cabin, and availability for each requested segment. A result is then composed of single or multiple itineraries. Each itinerary is composed of an outbound leg, and, if a return date was specified, an inbound leg. Each leg is composed of a list of one or more flights, that the traveller will be required to take in order to get from the origin airport to the destination airport.  \n\nOnly Travel Audience Connect partner airlines are searched, so content is limited to only their partner airlines. For an up-to-date list of partner airline routes, see the route maps on their respective websites below. You can earn commission using the deep links provided in the search results if you sign up for an account at http://connect.travelaudience.com.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.flight_affiliate_search(apikey, origin, destination, departure_date, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str apikey: API Key provided for your account, to identify you for API access (required)
        :param str origin: City code from which the traveler will depart. See the location and airport interfaces for more information. (required)
        :param str destination: IATA city code to which the traveler is going (required)
        :param str departure_date: The date on which the traveler will depart from the origin to go to the destination. The maximum scope for a date range is 2 days, for a larger scope, use the Extensive Search! (required)
        :param str return_date: The date on which the traveler will depart from the destination to return to the origin. If this parameter is not specified, the search will find only one-way trips. If this, or the return_by parameter are specified, only return trips are found
        :param int adults: The number of adult (age 12 and over) passengers traveling on this flight.
        :param int children: The number of child (younger than age 12 on date of departure) passengers traveling on this flight who will each have their own separate seat
        :param int infants: The number of infant (younger than age 2 on date of departure) passengers traveling on this flight. Infants travel in the lap of an adult passenger, and thus the number of infants must not exceed the number of adults.
        :param str include_merchants: If specified, all results will include at least one flight where one or more of these airlines is the marketing carrier
        :param str exclude_merchants: If specified, no results will include any flights where any of these airlines is the marketing carrier
        :param int max_price: Maximum price of trips to find in the result set, in USD (US dollars) unless some other currency code is specified. By default, no limit is applied
        :param str currency: The preferred currency for the results
        :param bool mobile: Setting this to true will show mobile web deeplinks
        :return: AffiliateSearchResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['apikey', 'origin', 'destination', 'departure_date', 'return_date', 'adults', 'children', 'infants', 'include_merchants', 'exclude_merchants', 'max_price', 'currency', 'mobile']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method flight_affiliate_search" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'apikey' is set
        if ('apikey' not in params) or (params['apikey'] is None):
            raise ValueError("Missing the required parameter `apikey` when calling `flight_affiliate_search`")
        # verify the required parameter 'origin' is set
        if ('origin' not in params) or (params['origin'] is None):
            raise ValueError("Missing the required parameter `origin` when calling `flight_affiliate_search`")
        # verify the required parameter 'destination' is set
        if ('destination' not in params) or (params['destination'] is None):
            raise ValueError("Missing the required parameter `destination` when calling `flight_affiliate_search`")
        # verify the required parameter 'departure_date' is set
        if ('departure_date' not in params) or (params['departure_date'] is None):
            raise ValueError("Missing the required parameter `departure_date` when calling `flight_affiliate_search`")

        resource_path = '/flights/affiliate-search'.replace('{format}', 'json')
        method = 'GET'

        path_params = {}

        query_params = {}
        if 'apikey' in params:
            query_params['apikey'] = params['apikey']
        if 'origin' in params:
            query_params['origin'] = params['origin']
        if 'destination' in params:
            query_params['destination'] = params['destination']
        if 'departure_date' in params:
            query_params['departure_date'] = params['departure_date']
        if 'return_date' in params:
            query_params['return_date'] = params['return_date']
        if 'adults' in params:
            query_params['adults'] = params['adults']
        if 'children' in params:
            query_params['children'] = params['children']
        if 'infants' in params:
            query_params['infants'] = params['infants']
        if 'include_merchants' in params:
            query_params['include_merchants'] = params['include_merchants']
        if 'exclude_merchants' in params:
            query_params['exclude_merchants'] = params['exclude_merchants']
        if 'max_price' in params:
            query_params['max_price'] = params['max_price']
        if 'currency' in params:
            query_params['currency'] = params['currency']
        if 'mobile' in params:
            query_params['mobile'] = params['mobile']

        header_params = {}

        form_params = {}
        files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = []

        response = self.api_client.call_api(resource_path, method,
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=files,
                                            response_type='AffiliateSearchResponse',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def flight_extensive_search(self, apikey, origin, destination, **kwargs):
        """
        The Extensive Flight Search API allows building travel searches based on very flexible and open range of dates. You can use it to answer questions such as \"When is the best date to fly...\".  It's built on Amadeus' Featured Results technology, which returns thousands of results (prices, itineraries and dates) in a matter of milliseconds. Results are available over half a calendar year with a 1 to 15 day stay duration
        The Extensive Flight Search allows you to find the prices of one-way or return flights between two airports over a large number of dates, and for a large variety of stay durations. The search doesn't return exact itineraries, but rather tells you the best price for a flight on a given day, for a stay of a given duration.\n\nThe search is based on our Extreme Search platform, which continually caches a large number of flight search results from a list of origin cities to a variety of destinations. Since it's a cached search, the response time is fast, but not all origin airports are available. Here is <a href=\"https://github.com/amadeus-travel-innovation-sandbox/sandbox-content/blob/master/flight-search-cache-origin-destination.csv\">a list of the currently supported origin-destination IATA location pairs</a>. We try to keep this list as fresh as possible for you, but be aware that it may not always be exactly up-to-date and it can change without warning.\n\nThat said, a price graph like this provides a powerful bargin shopping tool - allowing travelers with flexible itineraries to identify days on which they can get the cheapest flights to their destinations.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.flight_extensive_search(apikey, origin, destination, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str apikey: API Key provided for your account, to identify you for API access (required)
        :param str origin: City code from which the traveler will depart. See the location and airport interfaces for more information. (required)
        :param str destination: IATA city code to which the traveler is going (required)
        :param str departure_date: Range of dates between which the traveler could depart. Ranges are inclusive and ranges of months will apply from the start to the end of the month. If just a single date is specified, only that date will be searched. By default, the date range starts today and applies up to 361 in the future is applied. Past dates are generally not supported, future dates should be in the next 361 days, although results start to become sparse after about 6 months in the future, as airlines may still be defining their schedules. The default is to search all future dates available.
        :param bool one_way: When set to true, the query will be for a single trip from the origin to the destination. When this parameter is not provided, or is set to false, the query is for a round trip from the origin to the destination and back again.
        :param str duration: The allowed duration or range of durations of the trip, in days. This parameter must not be set if the one-way parameter is set to true.
        :param bool direct: Limit the search to results that do not require the passenger to change plane?
        :param str max_price: Maximum price of trips to find in the result set, in the currency specified for this origin and destination pair in the cache contents spreadsheet. So, for example, if the origin is NYC, and the max price is 400, this means 400 USD. If the origin is PAR, and the max price is 400, this means 400 EUR. By default, no limit is applied
        :param str aggregation_mode: Specifies the granularity of results to be found. DAY is the default when one-way is true finds a result for departure date in the date range. STAY is the default otherwise and finds all round trip permutations for this route withim the given date range. DESTINATION finds one result, only the cheapest price for this route over the provided date range. WEEK finds the cheapest result for every week in the date range. Note that specifying a small granularity but a large search scope may result in a huge output. For some very large outputs, the API may refuse to provide a result.
        :return: ExtremeSearchResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['apikey', 'origin', 'destination', 'departure_date', 'one_way', 'duration', 'direct', 'max_price', 'aggregation_mode']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method flight_extensive_search" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'apikey' is set
        if ('apikey' not in params) or (params['apikey'] is None):
            raise ValueError("Missing the required parameter `apikey` when calling `flight_extensive_search`")
        # verify the required parameter 'origin' is set
        if ('origin' not in params) or (params['origin'] is None):
            raise ValueError("Missing the required parameter `origin` when calling `flight_extensive_search`")
        # verify the required parameter 'destination' is set
        if ('destination' not in params) or (params['destination'] is None):
            raise ValueError("Missing the required parameter `destination` when calling `flight_extensive_search`")

        resource_path = '/flights/extensive-search'.replace('{format}', 'json')
        method = 'GET'

        path_params = {}

        query_params = {}
        if 'apikey' in params:
            query_params['apikey'] = params['apikey']
        if 'origin' in params:
            query_params['origin'] = params['origin']
        if 'destination' in params:
            query_params['destination'] = params['destination']
        if 'departure_date' in params:
            query_params['departure_date'] = params['departure_date']
        if 'one_way' in params:
            query_params['one-way'] = params['one_way']
        if 'duration' in params:
            query_params['duration'] = params['duration']
        if 'direct' in params:
            query_params['direct'] = params['direct']
        if 'max_price' in params:
            query_params['max_price'] = params['max_price']
        if 'aggregation_mode' in params:
            query_params['aggregation_mode'] = params['aggregation_mode']

        header_params = {}

        form_params = {}
        files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = []

        response = self.api_client.call_api(resource_path, method,
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=files,
                                            response_type='ExtremeSearchResponse',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def flight_inspiration_search(self, apikey, origin, **kwargs):
        """
        The Flight Inspiration Search API lets you go beyond the traditional search by origin, destination and dates to meet the needs of travelers looking for suggestions and a search experience that reflects the way they choose their trip. This can help you answer the question \"Where can I go within a given travel budget?\"
        The Inspiration Flight Search allows you to find the prices of one-way and return flights from an origin city without necessarily having a destination, or even a flight date, in mind. The search doesn't return a distinct set of price options, but rather, can tell you the price of flying from a given city to some destination, for a trip of a given duration, that falls within a given date range.\n\nThe search is based on our Extreme Search platform, which continually caches a large number of flight search results from a list of origin cities to a variety of destinations. Since it's a cached search, the response time is fast, but not all origin airports are available. Here is <a href=\"https://github.com/amadeus-travel-innovation-sandbox/sandbox-content/blob/master/flight-search-cache-origin-destination.csv\">a list of the currently supported origin-destination IATA location pairs</a>. We try to keep this list as fresh as possible for you, but be aware that it may not always be exactly up-to-date and it can change without warning.\n\nDespite this limitation don't underestimate the power of this API. Thanks to its quick response speed you can easily pair it with other APIs to provide a low fare and inspiration for any destination. For example, you can could combine it with a event search API and suggest a total price to see go and see an concert or a game in a selection of cities.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.flight_inspiration_search(apikey, origin, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str apikey: API Key provided for your account, to identify you for API access (required)
        :param str origin: City code from which the traveler will depart. See the location and airport interfaces for more information. (required)
        :param str destination: IATA city code to which the traveler is going
        :param str departure_date: Range of dates between which the traveler could depart. Ranges are inclusive and ranges of months will apply from the start to the end of the month. If just a single date is specified, only that date will be searched. By default, the date range starts today and applies up to 361 in the future is applied. Past dates are generally not supported, future dates should be in the next 361 days, although results start to become sparse after about 6 months in the future, as airlines may still be defining their schedules. The default is to search all future dates available.
        :param bool one_way: When set to true, the query will be for a single trip from the origin to the destination. When this parameter is not provided, or is set to false, the query is for a round trip from the origin to the destination and back again.
        :param str duration: The allowed duration or range of durations of the trip, in days. This parameter must not be set if the one-way parameter is set to true.
        :param bool direct: Limit the search to results that do not require the passenger to change plane?
        :param str max_price: Maximum price of trips to find in the result set, in the currency specified for this origin and destination pair in the cache contents spreadsheet. So, for example, if the origin is NYC, and the max price is 400, this means 400 USD. If the origin is PAR, and the max price is 400, this means 400 EUR. By default, no limit is applied
        :param str aggregation_mode: Specifies the granularity of results to be found. DESTINATION is the default and finds one result per city. COUNTRY finds one result per country, DAY finds on result for every day in the date range, WEEK finds one result for every week in the date range. Note that specifying a small granularity but a large search scope may result in a huge output. For some very large outputs, the API may refuse to provide a result.
        :return: ExtremeSearchResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['apikey', 'origin', 'destination', 'departure_date', 'one_way', 'duration', 'direct', 'max_price', 'aggregation_mode']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method flight_inspiration_search" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'apikey' is set
        if ('apikey' not in params) or (params['apikey'] is None):
            raise ValueError("Missing the required parameter `apikey` when calling `flight_inspiration_search`")
        # verify the required parameter 'origin' is set
        if ('origin' not in params) or (params['origin'] is None):
            raise ValueError("Missing the required parameter `origin` when calling `flight_inspiration_search`")

        resource_path = '/flights/inspiration-search'.replace('{format}', 'json')
        method = 'GET'

        path_params = {}

        query_params = {}
        if 'apikey' in params:
            query_params['apikey'] = params['apikey']
        if 'origin' in params:
            query_params['origin'] = params['origin']
        if 'destination' in params:
            query_params['destination'] = params['destination']
        if 'departure_date' in params:
            query_params['departure_date'] = params['departure_date']
        if 'one_way' in params:
            query_params['one-way'] = params['one_way']
        if 'duration' in params:
            query_params['duration'] = params['duration']
        if 'direct' in params:
            query_params['direct'] = params['direct']
        if 'max_price' in params:
            query_params['max_price'] = params['max_price']
        if 'aggregation_mode' in params:
            query_params['aggregation_mode'] = params['aggregation_mode']

        header_params = {}

        form_params = {}
        files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = []

        response = self.api_client.call_api(resource_path, method,
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=files,
                                            response_type='ExtremeSearchResponse',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def flight_low_fare_search(self, apikey, origin, destination, departure_date, **kwargs):
        """
        The Low-Fare Search API lets you find the cheapest one way or return itineraries and fares between two airports at specific dates.
        This is the low fare search engine Amadeus uses to retrieve the best price for flights, based on our latest Master Pricer Travel Board technology. This document describes how to make a low fare search and how to handle the returned messages. The message is composed of multiple results for given request. A result is defined by a unique combination of price, tax, passenger type, fare type, cabin, and availability for each requested segment. A result is then composed of single or multiple itineraries. Each itinerary is composed of an outbound leg, and, if a return date was specified, an inbound leg. Each leg is composed of a list of one or more flights, that the traveller will be required to take in order to get from the origin airport to the destination airport.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.flight_low_fare_search(apikey, origin, destination, departure_date, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str apikey: API Key provided for your account, to identify you for API access (required)
        :param str origin: City code from which the traveler will depart. See the location and airport interfaces for more information. (required)
        :param str destination: IATA city code to which the traveler is going (required)
        :param date departure_date: The date on which the traveler will depart from the origin to go to the destination. The maximum scope for a date range is 2 days, for a larger scope, use the Extensive Search! (required)
        :param str return_date: The date on which the traveler will depart from the destination to return to the origin. If this parameter is not specified, the search will find only one-way trips. If this, or the return_by parameter are specified, only return trips are found
        :param str arrive_by: The datetime by which the outbound flight should arrive, based on local time at the destination airport
        :param str return_by: The time by which the inbound flight should arrive, based on local time at the airport specified as the origin parameter
        :param int adults: The number of adult (age 12 and over) passengers traveling on this flight.
        :param int children: The number of child (younger than age 12 on date of departure) passengers traveling on this flight who will each have their own separate seat
        :param int infants: The number of infant (younger than age 2 on date of departure) passengers traveling on this flight. Infants travel in the lap of an adult passenger, and thus the number of infants must not exceed the number of adults.
        :param str include_airlines: If specified, all results will include at least one flight where one or more of these airlines is the marketing carrier. This behaves as an OR function.
        :param str exclude_airlines: If specified, no results will include any flights where any of these airlines is the marketing carrier
        :param bool non_stop: Setting this to true will find only flights that do not require the passenger to change from one flight to another
        :param int max_price: Maximum price of trips to find in the result set, in USD (US dollars) unless some other currency code is specified. By default, no limit is applied
        :param str currency: The preferred currency for the results
        :param str travel_class: Searches for results where the majority of the itinerary flight time should be in a the specified cabin class or higher
        :param int number_of_results: The number of results to display. This will not be strictly interpreted but used as a guideline to display a useful number of results. By default, the number of results is dynamically determined. A maximum of 250 results will be displayed.
        :return: LowFareSearchResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['apikey', 'origin', 'destination', 'departure_date', 'return_date', 'arrive_by', 'return_by', 'adults', 'children', 'infants', 'include_airlines', 'exclude_airlines', 'non_stop', 'max_price', 'currency', 'travel_class', 'number_of_results']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method flight_low_fare_search" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'apikey' is set
        if ('apikey' not in params) or (params['apikey'] is None):
            raise ValueError("Missing the required parameter `apikey` when calling `flight_low_fare_search`")
        # verify the required parameter 'origin' is set
        if ('origin' not in params) or (params['origin'] is None):
            raise ValueError("Missing the required parameter `origin` when calling `flight_low_fare_search`")
        # verify the required parameter 'destination' is set
        if ('destination' not in params) or (params['destination'] is None):
            raise ValueError("Missing the required parameter `destination` when calling `flight_low_fare_search`")
        # verify the required parameter 'departure_date' is set
        if ('departure_date' not in params) or (params['departure_date'] is None):
            raise ValueError("Missing the required parameter `departure_date` when calling `flight_low_fare_search`")

        resource_path = '/flights/low-fare-search'.replace('{format}', 'json')
        method = 'GET'

        path_params = {}

        query_params = {}
        if 'apikey' in params:
            query_params['apikey'] = params['apikey']
        if 'origin' in params:
            query_params['origin'] = params['origin']
        if 'destination' in params:
            query_params['destination'] = params['destination']
        if 'departure_date' in params:
            query_params['departure_date'] = params['departure_date']
        if 'return_date' in params:
            query_params['return_date'] = params['return_date']
        if 'arrive_by' in params:
            query_params['arrive_by'] = params['arrive_by']
        if 'return_by' in params:
            query_params['return_by'] = params['return_by']
        if 'adults' in params:
            query_params['adults'] = params['adults']
        if 'children' in params:
            query_params['children'] = params['children']
        if 'infants' in params:
            query_params['infants'] = params['infants']
        if 'include_airlines' in params:
            query_params['include_airlines'] = params['include_airlines']
        if 'exclude_airlines' in params:
            query_params['exclude_airlines'] = params['exclude_airlines']
        if 'non_stop' in params:
            query_params['non-stop'] = params['non_stop']
        if 'max_price' in params:
            query_params['max_price'] = params['max_price']
        if 'currency' in params:
            query_params['currency'] = params['currency']
        if 'travel_class' in params:
            query_params['travel_class'] = params['travel_class']
        if 'number_of_results' in params:
            query_params['number_of_results'] = params['number_of_results']

        header_params = {}

        form_params = {}
        files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = []

        response = self.api_client.call_api(resource_path, method,
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=files,
                                            response_type='LowFareSearchResponse',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def hotel_airport_search(self, apikey, location, check_in, check_out, **kwargs):
        """
        The Hotel Airport Search API uses Amadeus' fast hotel search engine to locate the cheapest available rooms near a given airport, for a given stay period. This API is ideal if you want to connect flight and hotels. Provide an IATA airport code, as well as the check-in and check-out dates, and get a list of up to 140 properties (names, codes, image, amenities) with their locations and rates. Optional parameters such as currency and maximum rates, amenities or hotel chain codes are also available and can be used to narrow down the results. More optional parameters such as show_sold_out & rooms can be used to show sold out rooms and all available rooms.
        A fast Hotel shopping API to see which hotels are available in a given area, on a given day and displays their lowest prices. With this API you can find out the price of the cheapest daily rate for all hotels near a given airport.\n\nThis API allows you to quickly see the locations of hotels near a given airport, and what prices in that area look like. The API is based on our high-speed hotel pricing cache, which is also used to power the hotel searchengine website https://hotelsearchengine.amadeus.com/. Results are returned very quickly, response times are generally under 2s. Our cache has great global coverage and is constantly refreshed with the latest prices.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.hotel_airport_search(apikey, location, check_in, check_out, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str apikey: API Key provided for your account, to identify you for API access (required)
        :param str location: IATA location code for which further information is required. (required)
        :param str check_in: Date on which the guest will begin their stay in the hotel. Past availability is not displayed, future availability becomes less useful from about 6 months from the current date. (required)
        :param str check_out: Date on which the guest will end their stay in the hotel. (required)
        :param int radius: Radius around the center to look for hotels in kilometers (km).
        :param str lang: The preferred language of the content related to each hotel. Content will be returned in this language if available.
        :param str currency: The preferred currency for the results
        :param str chain: Narrows the hotel search to a given hotel provider. The hotel chain is indicated by the first two characters of the property code.
        :param float max_rate: The maximum amount per night that any hotel in the shopping response should cost. This is calculated by dividing the total price of the stay for the given dates by the number of nights specified falling between the check_in and check_out dates.
        :param int number_of_results: The maximum number of hotels to return in the results set. Hotels are ordered by total price, so if more than the given maximum number of hotels are available, only the cheapest options are returned.
        :param bool all_rooms: This option if enabled will return all hotel room rates, not just the lowest room rate. Note: This will have an impact on the response time due to the larger messages returned.
        :param bool show_sold_out: This option if enabled will return hotel names and addresses even if rooms are sold out (closed properties)
        :param str amenity: Hotel <a href=\"hotels-api-supported-amenities-filter\">amenities filter</a> to search narrow down hotels with certain amenities. For example&colon; amenity=POOL. (Note: multiple amenities can be used in searches: amenity=PARKING&amenity=RESTAURANT&amenity=PETS_ALLOWED).
        :return: HotelSearchResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['apikey', 'location', 'check_in', 'check_out', 'radius', 'lang', 'currency', 'chain', 'max_rate', 'number_of_results', 'all_rooms', 'show_sold_out', 'amenity']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method hotel_airport_search" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'apikey' is set
        if ('apikey' not in params) or (params['apikey'] is None):
            raise ValueError("Missing the required parameter `apikey` when calling `hotel_airport_search`")
        # verify the required parameter 'location' is set
        if ('location' not in params) or (params['location'] is None):
            raise ValueError("Missing the required parameter `location` when calling `hotel_airport_search`")
        # verify the required parameter 'check_in' is set
        if ('check_in' not in params) or (params['check_in'] is None):
            raise ValueError("Missing the required parameter `check_in` when calling `hotel_airport_search`")
        # verify the required parameter 'check_out' is set
        if ('check_out' not in params) or (params['check_out'] is None):
            raise ValueError("Missing the required parameter `check_out` when calling `hotel_airport_search`")

        resource_path = '/hotels/search-airport'.replace('{format}', 'json')
        method = 'GET'

        path_params = {}

        query_params = {}
        if 'apikey' in params:
            query_params['apikey'] = params['apikey']
        if 'location' in params:
            query_params['location'] = params['location']
        if 'check_in' in params:
            query_params['check_in'] = params['check_in']
        if 'check_out' in params:
            query_params['check_out'] = params['check_out']
        if 'radius' in params:
            query_params['radius'] = params['radius']
        if 'lang' in params:
            query_params['lang'] = params['lang']
        if 'currency' in params:
            query_params['currency'] = params['currency']
        if 'chain' in params:
            query_params['chain'] = params['chain']
        if 'max_rate' in params:
            query_params['max_rate'] = params['max_rate']
        if 'number_of_results' in params:
            query_params['number_of_results'] = params['number_of_results']
        if 'all_rooms' in params:
            query_params['all_rooms'] = params['all_rooms']
        if 'show_sold_out' in params:
            query_params['show_sold_out'] = params['show_sold_out']
        if 'amenity' in params:
            query_params['amenity'] = params['amenity']

        header_params = {}

        form_params = {}
        files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = []

        response = self.api_client.call_api(resource_path, method,
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=files,
                                            response_type='HotelSearchResponse',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def hotel_geosearch_by_box(self, apikey, south_west_corner, north_east_corner, check_in, check_out, **kwargs):
        """
        The Hotel Lowest-Price Search API uses Amadeus' fast hotel search engine to locate the cheapest available rooms within a given rectangular region for a given stay period. It's ideal for displaying results on a map.
        A fast Hotel shopping API to see which hotels are available in a given area, on a given day and displays their lowest prices. With this API you can find out the price of the cheapest daily rate for all hotels within a specified geographical region.\n\nThis API allows you to quickly see the hotel locations in a region, and what prices in that area look like,  as well as the check-in and check-out dates, and get a list of up to 140 properties (names, codes, image, amenities) with their locations and rates. Optional parameters such as currency and maximum rates, amenities or hotel chain codes are also available and can be used to narrow down the results. More optional parameters such as show_sold_out & rooms can be used to show sold out rooms and all available rooms. \n            \nThe API is based on our high-speed hotel pricing cache, which is also used to power the hotel searchengine website https://hotelsearchengine.amadeus.com/. Results are returned very quickly, response times are generally under 2s. Our cache has great global coverage and is constantly refreshed with the latest prices.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.hotel_geosearch_by_box(apikey, south_west_corner, north_east_corner, check_in, check_out, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str apikey: API Key provided for your account, to identify you for API access (required)
        :param str south_west_corner: The coordinates of the south-west corner of the search box. (required)
        :param str north_east_corner: The coordinates of the north-east corner of the search box. (required)
        :param str check_in: Date on which the guest will begin their stay in the hotel. Past availability is not displayed, future availability becomes less useful from about 6 months from the current date. (required)
        :param str check_out: Date on which the guest will end their stay in the hotel. (required)
        :param str lang: The preferred language of the content related to each hotel. Content will be returned in this language if available.
        :param str currency: The preferred currency for the results
        :param str chain: Narrows the hotel search to a given hotel provider. The hotel chain is indicated by the first two characters of the property code.
        :param float max_rate: The maximum amount per night that any hotel in the shopping response should cost. This is calculated by dividing the total price of the stay for the given dates by the number of nights specified falling between the check_in and check_out dates.
        :param int number_of_results: The maximum number of hotels to return in the results set. Hotels are ordered by total price, so if more than the given maximum number of hotels are available, only the cheapest options are returned.
        :param bool all_rooms: This option if enabled will return all hotel room rates, not just the lowest room rate. Note: This will have an impact on the response time due to the larger messages returned.
        :param bool show_sold_out: This option if enabled will return hotel names and addresses even if rooms are sold out (closed properties)
        :param str amenity: Hotel <a href=\"hotels-api-supported-amenities-filter\">amenities filter</a> to search narrow down hotels with certain amenities. For example&colon; amenity=POOL. (Note: multiple amenities can be used in searches: amenity=PARKING&amenity=RESTAURANT&amenity=PETS_ALLOWED).
        :return: HotelSearchResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['apikey', 'south_west_corner', 'north_east_corner', 'check_in', 'check_out', 'lang', 'currency', 'chain', 'max_rate', 'number_of_results', 'all_rooms', 'show_sold_out', 'amenity']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method hotel_geosearch_by_box" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'apikey' is set
        if ('apikey' not in params) or (params['apikey'] is None):
            raise ValueError("Missing the required parameter `apikey` when calling `hotel_geosearch_by_box`")
        # verify the required parameter 'south_west_corner' is set
        if ('south_west_corner' not in params) or (params['south_west_corner'] is None):
            raise ValueError("Missing the required parameter `south_west_corner` when calling `hotel_geosearch_by_box`")
        # verify the required parameter 'north_east_corner' is set
        if ('north_east_corner' not in params) or (params['north_east_corner'] is None):
            raise ValueError("Missing the required parameter `north_east_corner` when calling `hotel_geosearch_by_box`")
        # verify the required parameter 'check_in' is set
        if ('check_in' not in params) or (params['check_in'] is None):
            raise ValueError("Missing the required parameter `check_in` when calling `hotel_geosearch_by_box`")
        # verify the required parameter 'check_out' is set
        if ('check_out' not in params) or (params['check_out'] is None):
            raise ValueError("Missing the required parameter `check_out` when calling `hotel_geosearch_by_box`")

        resource_path = '/hotels/search-box'.replace('{format}', 'json')
        method = 'GET'

        path_params = {}

        query_params = {}
        if 'apikey' in params:
            query_params['apikey'] = params['apikey']
        if 'south_west_corner' in params:
            query_params['south_west_corner'] = params['south_west_corner']
        if 'north_east_corner' in params:
            query_params['north_east_corner'] = params['north_east_corner']
        if 'check_in' in params:
            query_params['check_in'] = params['check_in']
        if 'check_out' in params:
            query_params['check_out'] = params['check_out']
        if 'lang' in params:
            query_params['lang'] = params['lang']
        if 'currency' in params:
            query_params['currency'] = params['currency']
        if 'chain' in params:
            query_params['chain'] = params['chain']
        if 'max_rate' in params:
            query_params['max_rate'] = params['max_rate']
        if 'number_of_results' in params:
            query_params['number_of_results'] = params['number_of_results']
        if 'all_rooms' in params:
            query_params['all_rooms'] = params['all_rooms']
        if 'show_sold_out' in params:
            query_params['show_sold_out'] = params['show_sold_out']
        if 'amenity' in params:
            query_params['amenity'] = params['amenity']

        header_params = {}

        form_params = {}
        files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = []

        response = self.api_client.call_api(resource_path, method,
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=files,
                                            response_type='HotelSearchResponse',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def hotel_geosearch_by_circle(self, apikey, latitude, longitude, radius, check_in, check_out, **kwargs):
        """
        The Hotel Lowest-Price Search API uses Amadeus' fast hotel search engine to locate the cheapest available rooms within a given radius of a defined point for a given stay period.
        A fast Hotel shopping API to see which hotels are available in a given area, on a given day and displays their lowest prices. With this API you can find out the price of the cheapest daily rate for all hotels within a specified radius of a point.\n\nThis API allows you to quickly see the hotel locations in a region, and what prices in that area look like,  as well as the check-in and check-out dates, and get list of up to 140 properties (names, codes, image, amenities) with their locations and rates. Optional parameters such as currency and maximum rates, amenities or hotel chain codes are also available and can be used to narrow down the results. More optional parameters such as show_sold_out & rooms can be used to show sold out rooms and all available rooms. \n\nThe API is based on our high-speed hotel pricing cache, which is also used to power the hotel searchengine website https://hotelsearchengine.amadeus.com/. Results are returned very quickly, response times are generally under 2s. Our cache has great global coverage and is constantly refreshed with the latest prices.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.hotel_geosearch_by_circle(apikey, latitude, longitude, radius, check_in, check_out, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str apikey: API Key provided for your account, to identify you for API access (required)
        :param float latitude: Latitude of the center of the search. (required)
        :param float longitude: Longitude of the center of the search. (required)
        :param int radius: Radius around the center to look for hotels in kilometers (km). (required)
        :param str check_in: Date on which the guest will begin their stay in the hotel. Past availability is not displayed, future availability becomes less useful from about 6 months from the current date. (required)
        :param str check_out: Date on which the guest will end their stay in the hotel. (required)
        :param str lang: The preferred language of the content related to each hotel. Content will be returned in this language if available.
        :param str currency: The preferred currency for the results
        :param str chain: Narrows the hotel search to a given hotel provider. The hotel chain is indicated by the first two characters of the property code.
        :param float max_rate: The maximum amount per night that any hotel in the shopping response should cost. This is calculated by dividing the total price of the stay for the given dates by the number of nights specified falling between the check_in and check_out dates.
        :param int number_of_results: The maximum number of hotels to return in the results set. Hotels are ordered by total price, so if more than the given maximum number of hotels are available, only the cheapest options are returned.
        :param bool all_rooms: This option if enabled will return all hotel room rates, not just the lowest room rate. Note: This will have an impact on the response time due to the larger messages returned.
        :param bool show_sold_out: This option if enabled will return hotel names and addresses even if rooms are sold out (closed properties)
        :param str amenity: Hotel <a href=\"hotels-api-supported-amenities-filter\">amenities filter</a> to search narrow down hotels with certain amenities. For example&colon; amenity=POOL. (Note: multiple amenities can be used in searches: amenity=PARKING&amenity=RESTAURANT&amenity=PETS_ALLOWED).
        :return: HotelSearchResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['apikey', 'latitude', 'longitude', 'radius', 'check_in', 'check_out', 'lang', 'currency', 'chain', 'max_rate', 'number_of_results', 'all_rooms', 'show_sold_out', 'amenity']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method hotel_geosearch_by_circle" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'apikey' is set
        if ('apikey' not in params) or (params['apikey'] is None):
            raise ValueError("Missing the required parameter `apikey` when calling `hotel_geosearch_by_circle`")
        # verify the required parameter 'latitude' is set
        if ('latitude' not in params) or (params['latitude'] is None):
            raise ValueError("Missing the required parameter `latitude` when calling `hotel_geosearch_by_circle`")
        # verify the required parameter 'longitude' is set
        if ('longitude' not in params) or (params['longitude'] is None):
            raise ValueError("Missing the required parameter `longitude` when calling `hotel_geosearch_by_circle`")
        # verify the required parameter 'radius' is set
        if ('radius' not in params) or (params['radius'] is None):
            raise ValueError("Missing the required parameter `radius` when calling `hotel_geosearch_by_circle`")
        # verify the required parameter 'check_in' is set
        if ('check_in' not in params) or (params['check_in'] is None):
            raise ValueError("Missing the required parameter `check_in` when calling `hotel_geosearch_by_circle`")
        # verify the required parameter 'check_out' is set
        if ('check_out' not in params) or (params['check_out'] is None):
            raise ValueError("Missing the required parameter `check_out` when calling `hotel_geosearch_by_circle`")

        resource_path = '/hotels/search-circle'.replace('{format}', 'json')
        method = 'GET'

        path_params = {}

        query_params = {}
        if 'apikey' in params:
            query_params['apikey'] = params['apikey']
        if 'latitude' in params:
            query_params['latitude'] = params['latitude']
        if 'longitude' in params:
            query_params['longitude'] = params['longitude']
        if 'radius' in params:
            query_params['radius'] = params['radius']
        if 'check_in' in params:
            query_params['check_in'] = params['check_in']
        if 'check_out' in params:
            query_params['check_out'] = params['check_out']
        if 'lang' in params:
            query_params['lang'] = params['lang']
        if 'currency' in params:
            query_params['currency'] = params['currency']
        if 'chain' in params:
            query_params['chain'] = params['chain']
        if 'max_rate' in params:
            query_params['max_rate'] = params['max_rate']
        if 'number_of_results' in params:
            query_params['number_of_results'] = params['number_of_results']
        if 'all_rooms' in params:
            query_params['all_rooms'] = params['all_rooms']
        if 'show_sold_out' in params:
            query_params['show_sold_out'] = params['show_sold_out']
        if 'amenity' in params:
            query_params['amenity'] = params['amenity']

        header_params = {}

        form_params = {}
        files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = []

        response = self.api_client.call_api(resource_path, method,
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=files,
                                            response_type='HotelSearchResponse',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def hotel_property_code_search(self, apikey, property_code, check_in, check_out, **kwargs):
        """
        Once you have found your preferred hotel, our Hotel Property Code Search API allows you to quickly find out more room and rate information. It's ideal for displaying results on a map.
        This API allows you to quickly see the detailed information of a single hotel, including descriptions, address, GPS location, amenities, awards, lowest priced room and all room prices and booking information. \n\nThis API gives you more information on a specific property. Optional parameters such as show_sold_out & rooms can be used to show sold out rooms and all available rooms. \n\nThe API is based on our high-speed hotel pricing cache, which is also used to power the hotel searchengine website https://hotelsearchengine.amadeus.com/). Results are returned very quickly, response times are generally under 2s. Our cache has great global coverage and is constantly refreshed with the latest prices.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.hotel_property_code_search(apikey, property_code, check_in, check_out, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str apikey: API Key provided for your account, to identify you for API access (required)
        :param str property_code: A Hotel property code based on 2 letter chain code + 3 letter IATA city code + 3 char property unique id. (required)
        :param str check_in: Date on which the guest will begin their stay in the hotel. Past availability is not displayed, future availability becomes less useful from about 6 months from the current date. (required)
        :param str check_out: Date on which the guest will end their stay in the hotel. (required)
        :param str lang: The preferred language of the content related to each hotel. Content will be returned in this language if available.
        :param str currency: The preferred currency for the results
        :param bool all_rooms: This option if enabled will return all hotel room rates, not just the lowest room rate. Note: This will have an impact on the response time due to the larger messages returned.
        :param bool show_sold_out: This option if enabled will return hotel names and addresses even if rooms are sold out (closed properties)
        :return: HotelPropertyResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['apikey', 'property_code', 'check_in', 'check_out', 'lang', 'currency', 'all_rooms', 'show_sold_out']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method hotel_property_code_search" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'apikey' is set
        if ('apikey' not in params) or (params['apikey'] is None):
            raise ValueError("Missing the required parameter `apikey` when calling `hotel_property_code_search`")
        # verify the required parameter 'property_code' is set
        if ('property_code' not in params) or (params['property_code'] is None):
            raise ValueError("Missing the required parameter `property_code` when calling `hotel_property_code_search`")
        # verify the required parameter 'check_in' is set
        if ('check_in' not in params) or (params['check_in'] is None):
            raise ValueError("Missing the required parameter `check_in` when calling `hotel_property_code_search`")
        # verify the required parameter 'check_out' is set
        if ('check_out' not in params) or (params['check_out'] is None):
            raise ValueError("Missing the required parameter `check_out` when calling `hotel_property_code_search`")

        resource_path = '/hotels/{property_code}'.replace('{format}', 'json')
        method = 'GET'

        path_params = {}
        if 'property_code' in params:
            path_params['property_code'] = params['property_code']

        query_params = {}
        if 'apikey' in params:
            query_params['apikey'] = params['apikey']
        if 'check_in' in params:
            query_params['check_in'] = params['check_in']
        if 'check_out' in params:
            query_params['check_out'] = params['check_out']
        if 'lang' in params:
            query_params['lang'] = params['lang']
        if 'currency' in params:
            query_params['currency'] = params['currency']
        if 'all_rooms' in params:
            query_params['all_rooms'] = params['all_rooms']
        if 'show_sold_out' in params:
            query_params['show_sold_out'] = params['show_sold_out']

        header_params = {}

        form_params = {}
        files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = []

        response = self.api_client.call_api(resource_path, method,
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=files,
                                            response_type='HotelPropertyResponse',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def location_information(self, apikey, code, **kwargs):
        """
        The Location Information API allows you to quickly find out more information about any IATA city or airport location code. With this API, you can find information such as city and airport names and locations, as well as information on timezones and airport usage.
        This service retrieves the location information corresponding to a IATA city or airport code.\n\nWhen provided with an IATA code, the service determines whether this code could relate to a city code, an airport code or both. If the city could contain multiple airports, it will return all possible airports that correspond to that city code.\n\nThis API is based on the Amadeus supported Geobases open-source project http://opentraveldata.github.io/geobases. If you wish to make your own database with all IATA location information, in order to get faster reponses, you can download the latest raw data from their github page https://github.com/opentraveldata/geobases. The exact file used for this API is https://github.com/opentraveldata/opentraveldata/blob/master/opentraveldata/optd_por_public.csv

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.location_information(apikey, code, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str apikey: API Key provided for your account, to identify you for API access (required)
        :param str code: IATA location code for which further information is required (required)
        :return: LocationResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['apikey', 'code']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method location_information" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'apikey' is set
        if ('apikey' not in params) or (params['apikey'] is None):
            raise ValueError("Missing the required parameter `apikey` when calling `location_information`")
        # verify the required parameter 'code' is set
        if ('code' not in params) or (params['code'] is None):
            raise ValueError("Missing the required parameter `code` when calling `location_information`")

        resource_path = '/location/{code}'.replace('{format}', 'json')
        method = 'GET'

        path_params = {}
        if 'code' in params:
            path_params['code'] = params['code']

        query_params = {}
        if 'apikey' in params:
            query_params['apikey'] = params['apikey']

        header_params = {}

        form_params = {}
        files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = []

        response = self.api_client.call_api(resource_path, method,
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=files,
                                            response_type='LocationResponse',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def rail_station_information(self, apikey, id, **kwargs):
        """
        This service retrieves the rail station information corresponding to an Amadeus UIC rail station ID. Currently only French and Italian stations are supported.
        

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.rail_station_information(apikey, id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str apikey: API Key provided for your account, to identify you for API access (required)
        :param str id: Station ID for which further information is required. (required)
        :return: RailStationResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['apikey', 'id']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method rail_station_information" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'apikey' is set
        if ('apikey' not in params) or (params['apikey'] is None):
            raise ValueError("Missing the required parameter `apikey` when calling `rail_station_information`")
        # verify the required parameter 'id' is set
        if ('id' not in params) or (params['id'] is None):
[...]
